[2021-11-05 17:47] randomorder commented on #491
We have analytics, we can easily check the busyness of the two instances

I took logs, jstack and jmap. The situation is a bit different this time @tdipisa . No sign of OOM in the logs today
Let's check kibana, the logs and stacks next week

I've restarted the service on geobe1

[2021-11-05 17:54] tdipisa commented on #491
Thank you @randomorder keep me updated as soon as you can please.

[2021-11-05 17:57] randomorder commented on #491
Files uploaded [here](https://www.dropbox.com/work/GeoSolutions/2021/COMUNE_GENOVA_C040/C040-COMUNE_GE-2021-SUPPORT/05/11/2021%20high%20cpu%20issue)

Could we have a DEV look at it @nmco?

[2021-11-08 11:00] nmco commented on #491
Sure @randomorder, @fernandor777 can you do the initial assessment? (MAX 1 HOUR).

[2021-11-09 15:22] dsuren1 opened #493 "Debounce time too low and validation missing for attribute filter in dashboard"
## Description

Typing filter values produces in certain use cases an inconsistent state of the widget. In general we should ensure the following.

- A proper debounce time before applying the filter: now it seems to be applied immediately but we should consider at least 1-2 seconds in order to avoid possible unuseful requests sent by the client
- A proper validation check to verify that the enter

[2021-11-10 08:53] tdipisa opened #494 "Increase GS Memory?"
From the client:

a) https://vm-linuxgeofe.comune.genova.it/geoserver-master/
RAM VM aumentata a 12 gb (attualmente GS ha 4gb)
b) http://vm-linuxgeobe1.comune.genova.it:8080/geoserver/
RAM VM aumentata a 8 gb (attualmente GS ha 2gb)
c) http://vm-linuxgeobe2.comune.genova.it:8080/geoserver
RAM VM aumentata a 8 gb (attualmente GS ha 2gb)
Ci siamo chiesti se conviene aumentare anche la RAM utilizzabi

[2021-11-10 08:54] tdipisa commented on #491
@nmco any news on this?

[2021-11-10 10:46] randomorder commented on #494
Shouldn't be necessary to increase the heap unless they have specific needs. We should check the watchdogs and make sure they are working properly and wait for the invest. by GeoServer devs on logs and dumps

[2021-11-10 11:02] tdipisa commented on #491
@randomorder please ensure that watchdogs are properly working too as you mentioned in [#494](https://github.com/geosolutions-it/MapStore2-C040/issues/494#issuecomment-965008798)

[2021-11-10 11:07] randomorder commented on #491
I found a problem
Watchdog is disabled on Sitgeobe1. Maybe was disabled during the release on Prod and never re-enabled. That explains why we only had the problem on geobe1. We still need to understand the root cause

I'm enableing the WD now.  For reference the WD request is:
[code]

[2021-11-10 11:09] tdipisa commented on #491
Thank you @randomorder. Let's wait for @nmco then.

[2021-11-11 09:54] tdipisa commented on #492
From the client:

Grafici multilinea : https://plotly.com/javascript/line-charts/#basic-line-plot
Stacked Bar Chart: https://plotly.com/javascript/bar-charts/#stacked-bar-chart

https://vm-linuxgeofetest.comune.genova.it/MapStore2/#/dashboard/1000001299
(questa in ambiente esercizio ma bisogna loggarsi) https://mappe.comune.genova.it/MapStore2/#/dashboard/1000013154 ma bisogna loggarsi)
qui trover

[2021-11-11 09:58] tdipisa opened #495 "Reduce dashboards clutter"
### Description
The client is asking for a review of the Dashboard layout aimed to reduce the clutter of widgets and their components (fonts, buttons, panels etc.).

From the client:

in riferimento a questo argomento abbiamo inteso che ci fornirai alcune informazioni

[2021-11-11 10:11] tdipisa commented on #463
I've collected few more precise feedback from the client that need to be investigated because it seems that GeoServer is introducing a not negligible offset for the Y coordinate.

From the client:

http://212.77.67.76/vol/index_coord.php
--epsg:3003 1493588.5943154, 4917168.27707082
--epsg:7791 493561.462128087, 4917149.63929917

--Roma 1940 Italia zona 1 1493588.5943154, 4917168.27707082
--ETFRS8

[2021-11-11 10:16] tdipisa commented on #495
@allyoucanmap we have to schedule a call as soon as possible next days also to schedule this investigation.

[2021-11-11 10:35] aaime commented on #463
This is going to be challenging... GeoTools reads the grids with an external library, and the actual grid shift code was written by an external developer years ago. I'd say at least 4 hours just to look into it and get an idea, the actual fix might take days (just a gut feeling).

[2021-11-11 10:42] tdipisa commented on #463
Ok @aaime. I will inform the client about the investigation time in the meeting today.

[2021-11-11 16:17] tdipisa commented on #494
I'm sorry @randomorder, did you finally re-enable the watchdog that was inactive for the geobe1 server?

[2021-11-11 16:18] tdipisa commented on #494
Ok, I was forgetting you mentioned it [here](https://github.com/geosolutions-it/MapStore2-C040/issues/491#issuecomment-965023987). Closing this.

[2021-11-11 16:18] #494 closed

[2021-11-12 09:10] tdipisa commented on #455
Few screenshots of charts improvements that have been provided within this investigation issue

1. Better management of long labels

**Before**
![image](https://user-images.githubusercontent.com/1280027/141440896-bb5cb959-c6ec-4de0-b946-eedd60f31781.png)

**After**
![image](https://user-images.githubusercontent.com/1280027/141440966-2bbd4bc2-aff3-460d-805d-3f22f9f70801.png)

2. Better management o

[2021-11-12 13:34] tdipisa commented on #463
@aaime @nmco we can proceed with the investigation. @aaime please let me know when you can next days

[2021-11-12 13:34] tdipisa commented on #492
@offtherailz we can proceed with the investigation that should not take more than 4h

[2021-11-12 13:35] tdipisa commented on #495
@allyoucanmap  we can proceed with the investigation that should not take more than 4h.

[2021-11-15 09:43] tdipisa commented on #491
@nmco I need some news for this. Can you please let me know when you can have some feedbacks?

[2021-11-15 09:50] randomorder commented on #491
latest dumps and logs [here](https://www.dropbox.com/s/4o9v5vu99epgz0y/comunege_high_cpu_15_nov_2021.zip?dl=0)

[2021-11-16 17:21] allyoucanmap commented on #495
@tdipisa Unfortunately we cannot apply the same zooming on the fly approach of the browser with the current layout.

we could instead try to reach a point where the layout can be configured in a specific downstream project with some limitation.

## Current configuration
The [Dashboard](https://mapstore.geosolutionsgroup.com/mapstore/docs/api/plugins#plugins.Dashboard) plugin exposes these properti

[2021-11-22 13:22] randomorder commented on #491
ping @nmco

[2021-11-26 11:16] offtherailz opened #496 "Update MapStore to latest stable"
### Description
Update MapStore to latest stable to include all features of AUTUMN Milestone

[2021-11-26 11:19] offtherailz opened #497 "Deploy on test"
### Description
Deploy on test environment the updates

[2021-11-26 11:23] offtherailz opened #498 "Deploy in production"
After test passed on test env, deploy in production. We have to include also #507.

Additional activities:
- [x] Install the GS patch #491
- [x] Move the GSB config to production #463

[2021-12-01 13:14] simboss commented on #491
@aaime can you do a time capped investigation on this one?
We just to read  your analysis on the issue to decide what to do next...

[2021-12-01 14:05] aaime commented on #491
Weird one. The stack traces only report this:

[code]

At first, it would seem like a simple, ignorable bit... except that I recently stumbled into a bit of code Gabriel wrote, appearing in that stack trace, that got modified in this PR:

https://github.com/geoserver/geoserver/pull/5301

The PR got merged on master only, the server from Genova is using the original bits from Gabriel... which are r

[2021-12-01 14:12] simboss commented on #491
@aaime thanks for the detailed explanation, however it is not clear to me what you are suggesting to do.
Can you please, clarify?

[2021-12-01 14:16] aaime commented on #491
I guess we can backport that PR and see if that helps. It should.

[2021-12-01 18:21] simboss commented on #491
@aaime let's backport as back as possible, possibly to 2.18 as well.

[2021-12-02 11:33] aaime commented on #491
Backport pull requests issued, all the way down to 2.18.x. Will report back when they get merged.

[2021-12-02 16:59] #488 closed

[2021-12-02 17:00] #454 closed

[2021-12-02 18:11] simboss commented on #491
great @aaime.
ping me when done...

[2021-12-03 09:18] #486 closed

[2021-12-03 10:33] aaime commented on #491
All backports merged, nightly builds will take their time to be produced, most will be ready tomorrow.
Mind, [2.18.x hasn't been built since Sept 10th 2021](https://build.geoserver.org/geoserver/2.18.x/), if you need a 2.18.x build, it will have to be done by hand.

[2021-12-03 11:52] #453 closed

[2021-12-03 12:06] #450 closed

[2021-12-03 13:07] #451 closed

[2021-12-03 13:17] #493 closed

[2021-12-03 13:28] offtherailz opened #501 "Fix geocollect, FeatureViewer and WMSFeatureViewer"
These tests are failing in test environment. We have to align the configurations position for the custom pages. (now in configs/...)
![image](https://user-images.githubusercontent.com/1279510/144610187-9c8f53ad-4435-4001-aaec-49b0cf28344e.png)

[2021-12-03 14:25] simboss commented on #491
@aaime can we reactive the build just for now?

[2021-12-03 14:31] aaime commented on #491
@simboss the build is gone, we'd have to re-create it. Jody has been cleaning up all old builds lately, if you check the nightly builds latest date of a given series, they match with the release of the RC of the corresponding new series.

[2021-12-03 14:38] aaime commented on #491
Thinking out loud, do you want me to discuss this at the next PSC meeting, or send a mail to the gs-devel list? About keeping the older builds for 6 more months after the branch has been discontinued?

[2021-12-03 14:39] simboss commented on #491
@aaime good, thanks for the info.
I might ask you to prepare a WAR then.

[2021-12-03 14:39] offtherailz opened #503 "Failing FeatureInfo in GeoCollect on test environment"
### Description
See this test run:
[A few sentences describing the overall goals of the issue.
](https://studio.cucumber.io/projects/47740/test-runs/617516/folder-snapshots/6277770/scenario-snapshots/21997040/test-snapshots/30147233)

Check if a problem of the test environment or what. (white response from the proxy).

[2021-12-03 14:58] simboss commented on #491
That would be a good idea.
We can provide the resources that are needed, just in case.

[2021-12-03 17:24] #501 closed

[2021-12-03 17:27] offtherailz opened #504 "Investigation"
### Description

![image](https://user-images.githubusercontent.com/1279510/144646126-c2cb32f5-596d-464c-88d5-148495ae128e.png)

[2021-12-06 09:22] offtherailz opened #505 "Investigations as for Meetings of 12/11/2021"
### Description
Here I report the tasks to investigate as from the meeting of 12/11/2021

#### geoStories
- Possibility to auto-populate carousel from a layer, configured accordingly

#### Dashboards
- multi-variable charts (already under evaluation)
- Make the grid of the widgets more dense (@tdipisa had some information about it).

#### Map
##### Feature grid
- Investigate to create custom filte

[2021-12-06 10:27] tdipisa commented on #463
Hi @simboss, @aaime we should proceed with this investigation as soon as possible. Please let me know about the scheduling.

[2021-12-06 10:38] tdipisa commented on #491
@aaime, the Comune di Genova is using GS 2.19.1. Is it possible to have a patched JAR for the fix or do we have to reinstall GS entirely?

[2021-12-06 10:43] aaime commented on #491
[2.19.4 is due in 12 days](https://github.com/geoserver/geoserver/wiki/Release-Schedule) but yes, if they don't want to upgrade, I can prepare a patched jar. Just let me know.

[2021-12-06 11:06] simboss commented on #491
@aaime a patch would be great for short term testing then we can plan to upgrade and retest everything

[2021-12-06 11:15] tdipisa commented on #491
I'm on the same line @aaime, please provide the patched jar as soon as possible.

[2021-12-06 12:05] aaime commented on #491
Here you go: https://www.dropbox.com/s/66n3qg25htlvcyd/gs-gwc-2.19.1-comunege.jar?dl=1

Remove ``gs-gwc-2.19.1.jar`` and replace it with ``gs-gwc-2.19.1-comunege.jar``. Restart GeoServer.
Customer branch is here: https://github.com/geosolutions-it/geoserver/tree/C040_2.19.1

[2021-12-06 13:49] tdipisa opened #506 "Problemi spazio vm-linuxgeodb1"
From the client:

Ecco le note sotto, che ci ha inviato
Riuscireste a risolverlo?

**We already had the same problem in the past many time due to the GWC DB. It would be good to solve the issue once and for all this time. Is there a problem with the GWC disk quota also this time?**

[2021-12-06 14:11] lpasquali commented on #506
For record, last time we had this issue we weren't able to catch enough data to understand the problem:

https://github.com/geosolutions-it/DevOps/issues/782

[2021-12-06 14:14] aaime commented on #463
I saw this ticket at the top of my list and picked it, but I cannot find the grid shift files. Any clue?

[2021-12-06 14:38] aaime commented on #463
Matteo Velludini was kind enough to download the files and share them with me:

![image](https://user-images.githubusercontent.com/325433/144865263-3da22d34-c778-4696-82eb-291750bc7032.png)

[2021-12-06 14:59] lpasquali commented on #506
@tdipisa @randomorder I cleaned the gwc_geofe db truncating the tables, I also took a dump, but it is only 42Mb, which means a regular vacuum might help, but it should bve done before the disk is more than 50% full I think, anyway if they can enlarge the partition a bit it would not hurt.

[2021-12-06 15:15] simboss commented on #463
@aaime this ticket is asking for an investigation and estimate first.
Just a reminder :)

[2021-12-06 15:20] aaime commented on #463
It will still take a few hours just to reproduce and try to figure out what is going on.

[2021-12-06 15:41] aaime commented on #463
I have setup the grids with both GeoServer main, and GeoServer 2.19.1. In both cases, I cannot reproduce the issue, the transformation on the reference point given above is less than a millimeter away from the transformation made with Convergo.

I have setup [a record of what I did here.](https://docs.google.com/document/d/1z1Yn4893mVQhCIqc_QIMwQ5W0B6vrCWRWvkwkD9lCNk/edit)

Since the issue might b

[2021-12-06 15:43] tdipisa commented on #491
Thank you @aaime. @randomorder can you please let me know when one of the devops can proceed with the installation of the patch?

[2021-12-06 16:12] tdipisa commented on #503
@randomorder from what I can see by performing the request from the command line of the test machine, it seems a certificate issue with the geosollect.geosolutions server.

![image](https://user-images.githubusercontent.com/1280027/144881196-dd8d81f7-f73f-4832-9204-8504726e288f.png)

[2021-12-06 17:30] tdipisa commented on #495
@allyoucanmap, as we agreed in the call, please spend the remaining time available to do some experiment aimed to better evaluate the CSS part and provide some estimate.

[2021-12-06 17:39] randomorder commented on #503
There's a problem with SSL but it's on the client side

The certificate itself is ok but old operating systems and applications are Not going to recognize it as a valid certificate
![image](https://user-images.githubusercontent.com/5264230/144891809-ed857530-b269-4150-9133-3c5572fabb1d.png)

It's been issues by Let'sencrypt and there are breaking changes with old client applications...

How to mov

[2021-12-07 11:30] randomorder commented on #491
let's discuss during our usual weekly planning

[2021-12-07 14:11] tdipisa opened #507 "Warning message during MS updates/maintainance"
It is requested by the client to show a configurable message in MS home page and inside each map/dashboard/geostory to notify users during application update and/or maintenance activities.

Something very basic like a permanent tooltip somewhere that can be disabled when done with maintenance activities.

Below is the text the client wants to show:
"_Gentile utente, dal 15/12/21 h 14.00 al 18/12/2

[2021-12-07 14:11] tdipisa commented on #507
@MV88 can you please do a quick evaluation/estimate of this task?

[2021-12-07 14:17] tdipisa commented on #463
It seems gsb files in test where out of date. Updating them using the ones available in production machine (see description) the problem seems solved. Waiting the client feedback for confirmation.

[2021-12-07 14:30] MV88 commented on #507
We can create custom plugin called **Maintenance** for this project
that can be placed inside "common" array so this will be visible everywhere

we can then show a permanent message and since the application must be usable we can put it:
- in the header of home, user admin, dashboard or geostory pages
![image](https://user-images.githubusercontent.com/11991428/145046313-850b3246-b5bb-4ff4-b689-22b

[2021-12-07 14:45] randomorder commented on #503
2 hours. No, it's on the geocollect machine

[2021-12-09 14:58] tdipisa commented on #503
thank you @randomorder. Please let me know when you can do that because I need to plan the release in production.

[2021-12-09 15:38] randomorder commented on #503
this is on the geocollect side, should not be a blocker for the release

Next week I would say

[2021-12-09 16:06] tdipisa commented on #503
Yes, indeed. Next week is fine I think. I only would like to coordinate both well

[2021-12-10 10:19] offtherailz commented on #492
Results of Investigation: (WIP)

In order to introduce mutlivariable charts, we need keep in mind the following goals:
- Backward compatibility with single variable charts
- Make the work fit with these changes. https://github.com/geosolutions-it/mapstore2/issues/7594
### Colors

### Y Axis

A multi-variable chart can have multiple layouts, depending of the needings. In particular, it can have one

[2021-12-10 13:24] #435 closed

[2021-12-10 14:42] tdipisa commented on #507
@alexander-fedorenko we need this max by end Monday Dec 13. @offtherailz will follow you on this.

[2021-12-10 14:49] offtherailz commented on #507
The info provided by Matteo are good. I modified it a little bit.
The plugin should be developed in c040 repository, under `js/plugins` and configured in `localConfig.json` for the home page with `enabled: false.`

[2021-12-10 17:06] tdipisa commented on #495
@allyoucanmap do you have some news on this?

[2021-12-13 08:53] tdipisa commented on #463
We can move the config to production.

[2021-12-14 10:15] offtherailz commented on #507
Deployed in test @tdipisa
@ElenaGallo, could you please test this on test instance ? Thank you

[2021-12-14 11:02] tdipisa commented on #507
@offtherailz tested and ok. We only missed to update the README file as I requested to you to document the related configuration to take into account during prod deploys.

[2021-12-14 11:03] tdipisa commented on #507
@alexander-fedorenko can you please do this?

[2021-12-14 13:26] alexander-fedorenko commented on #507
@tdipisa Added paragraph into README,md
@offtherailz Please review.
https://github.com/geosolutions-it/MapStore2-C040/pull/509

[2021-12-14 13:34] tdipisa commented on #498
Additional activities already done @offtherailz.
@offtherailz did you already prepare the WAR file to deploy for production? I saw that the production branch is not yet updated. We should update it a produce the WAR to install since tomorrow we have to deploy it in production.

[2021-12-14 13:40] offtherailz commented on #498
No @tdipisa  I prepared only the war for test env.

[2021-12-14 14:34] #455 closed

[2021-12-14 16:53] randomorder commented on #491
patch deployed

[2021-12-14 16:53] #491 closed

[2021-12-15 16:06] allyoucanmap commented on #495
@tdipisa
I did some additional tests to get a results similar to the one showed in the description of the issue applying following changes:

- configure the `rowHeight` to `150` instead of the default `208` value
- change css related to mapstore-widget-card component
- change size of the svg text of charts via css
- change some js configuration of the table component (rowHeight and headerRowHeight

[2021-12-15 16:57] tdipisa commented on #503
@randomorder when you can proceed with this?

[2021-12-15 17:58] randomorder commented on #503
Early next week. I'll keep you posted

[2021-12-16 10:42] tdipisa commented on #503
Thank you @randomorder

[2021-12-16 10:43] #496 closed

[2021-12-16 10:43] #498 closed

[2021-12-16 10:43] #463 closed

[2021-12-16 10:43] #497 closed

[2021-12-16 10:43] #507 closed

[2021-12-17 09:58] tdipisa opened #512 "GeoStories Carousel Section Improvement"
### Description
Possibility to auto-populate carousel from a layer, configured accordingly.

[2021-12-17 10:00] tdipisa opened #513 "Feature grid custom filters"
### Description
Investigate to create custom filters in columns (with a (multi)-select tool, from a list).

[2021-12-17 10:01] tdipisa opened #514 "Feature grid tooltips"
### Description
Tooltip for columns (in column selection window) to clarify more the data shown.

[2021-12-17 10:01] tdipisa opened #515 "Feature grid quick filters enhancement"
### Description
To enhance more quick filters, allowing also AND operations in columns (actually only OR with comma is allowed).

[2021-12-17 10:02] tdipisa opened #516 "Feature Info visualization for mobile (2dd)"
### Description
As reported by the client, in mobile visualization, less relevant information should be hidden . In general:

- "There are no features for the following layers" should not be shown
- Coordinates row takes too much space, can be hidden in mobile, or condensed in another way

[2021-12-17 10:04] tdipisa opened #517 "Enhancement for Totem"
### Description
Loading maps on totems (in the city, is slow) this because they are using the full mapstore. It should be solved using the embedded viewer with the flag for the TOC (smaller in terms of Javascript to load), check if it is sufficient.

[2021-12-17 10:14] tdipisa commented on #514
@offtherailz can you please clarify what is requested precisely for this.

[2021-12-17 10:14] tdipisa commented on #513
@offtherailz can you please clarify what is requested precisely for this.

[2021-12-17 10:15] tdipisa commented on #512
@offtherailz can you please clarify what is requested precisely for this?

[2021-12-17 10:18] tdipisa opened #518 "CesiumJS version update (3dd)"
### Description
Updating CesiumJS to the latest available version (1.79.1 at the time of writing) does not present any particular issue, the changes are not breaking MapStore stuff, most of them are syntactic. We will need to migrate some internalized components such as the navigation widget.

### Other useful information
The activities for this issue have been detailed in https://github.com/geoso

[2021-12-17 10:24] tdipisa opened #519 "3D Tiles Support (8dd)"
### Description

 * **Adding 3DTiles layer support in MapStore, for the Cesium mapType**: we can easily support tilesets hosted on a url (pointing to a tileset.json file) through the internal CesiumJS support and the "special" layers supported by Cesium, using a name instead:

[code]

[code]
 * **Catalog UI**: a new service type for 3Dtiles is needed; the configuration would allow setting:
     *

[2021-12-17 10:31] tdipisa opened #520 "3D Tiles Styling (5dd)"
### Description
 * **Adding support for styling**: the 3DTileset specification includes a JSON based styling specification, that is quite sophisticated and is supported (obviously) by CesiumJS. We could support the same as a layer option.

[code]

 * **Styling UI**: the simplest way to have a styling UI is to try reusing the text-editor MS already has for CSS and SLD styles to support the 3DTiles

[2021-12-17 10:43] tdipisa opened #521 "3D Zoom to via share URL (3dd)"
### Description
Update the Share Tool to provide the possibility to zoom to a specified location of the Cesium map through specific 3D viewer parameters.
The URL must contain the data necessary to replicate the exact position in cesium, so camera position (x,y,z) and  orientation ( heading,  pitch,  roll )

[2021-12-17 10:47] tdipisa opened #522 "Refresh button for layer map"
### Description
Include a refresh layer functionality in the map for updates to the dataset and / or network problems.
To review the existing MapStore issue: https://github.com/geosolutions-it/MapStore2/issues/7289

[2021-12-17 10:49] tdipisa opened #523 "Refresh button for dashboards"
### Description
Include a dashboard refresh functionality for updates to widgets datasets and / or network problems.
**Note:** button for refreshing all layers regardless of whether we are talking about a dashboard or a map.

[2021-12-17 14:25] tdipisa opened #524 "Javascript in content.ftl"
### Description

#### Requirement
Inclusion of JS code in GeoServer FTL template must be supported by MapStore for the Identify plugin.

#### Implementation Notes
We would like to reduce at minimum the scripts injection in the client for this reason we propose to use an iframe viewer instead to develop a html parser that excute external js.
MapStore could provide support for custom viewer that wil

[2021-12-17 15:21] tdipisa commented on #517
@offtherailz for the Turism totem an app context is used at the moment.

[2021-12-17 16:49] offtherailz commented on #517
If we want to optimize initial load,we need to use a custom build only with the plugins used in that context.
Like for embedded, we have to create a set of plugins, a bundle and a configuration dedicated to them, so we will call them `totem`.

[2021-12-17 16:53] offtherailz commented on #512
The request is to allow to create a carousel that retrives the list of items from a WFS configured accordingly, attributes provide title, description, thumbnail URL and position.

[2021-12-20 12:47] dsuren1 commented on #521
**Investigation:**
3D map (cesium) customized advanced setting options

- Center and zoom with orientation options (get default value from map and update on Share tool open)
  - _Pitch_:  -90 to 0 convert to radian (negative y-axis)
  - _Roll_:  0 to 360 convert to radian (positive x-axis)
  - _Heading_: 0 to 360 (positive z axis)

**Code change**
[queryparam epics](https://github.com/geosolutions

[2021-12-20 14:04] tdipisa commented on #521
@dsuren1 ok for me? @offtherailz do you have any feedback?

[2021-12-20 14:11] offtherailz commented on #521
Ok. @dsuren1
about the option of adding marker, hide marker option at the moment. If possible, bbox should still be still an option, just the 3D specific parameters has precedence in 3D context.

 `viewerOptions` in `changeMapView` should already allow to include the parmeter you need, please check.

[2021-12-20 14:56] dsuren1 commented on #521
Hi @offtherailz

Sure

The [bbox](https://github.com/geosolutions-it/MapStore2/blob/master/web/client/components/map/cesium/Map.jsx#L401) is always maintained a constant limits -180,-90,180, 90. I think we can modify bounds with value `computeViewRectangle()` and convert value to degree, which can later be used for getting values for bbox option?

I meant, the viewerOption value is not passed as p

[2021-12-20 17:15] tdipisa commented on #512
@offtherailz can you please provide a draft of implementation proposal for this? Thank you.

[2021-12-21 09:30] offtherailz commented on #521
Ok. I checked. I didn't remember. So I'm agree with you.

In 3d hide the options like bbox or point, that doesn't have an implementation.

Yes correct.

[2021-12-21 19:51] PabloBaronetti commented on #503
Hello @randomorder @tdipisa

I changed the certificate, can you please try again to see if the error continues?

Thank you!

[2021-12-22 08:41] tdipisa commented on #503
@PabloBaronetti thank you. It is working now.

[2021-12-22 08:41] #503 closed

[2021-12-22 18:01] randomorder opened #525 "logs and audits rotation issue"
Looks like audits files at `/var/lib/tomcats/geoserver/logs/audits` and localhost_access files at `/var/lib/tomcats/geoserver/logs/localhost_access_log.*` are not compressesed / rotated correctly on the production machines

I manually Gzipped them on `linuxgeobe1` and `linuxgeobe2` to prevent filling the root FS

[2022-01-10 09:50] randomorder commented on #525
VPN Doc [here](https://docs.google.com/document/d/1Jim7mUpU5METiUj5b0M62BzUPM_ZfEV2PtSwJZ0f7o8/edit?usp=sharing)

[2022-01-10 13:42] tdipisa opened #526 "Heavy CPU use for GeoServer on vm-linuxgeobe1"
### Description
The client is reporting again problems with _vm-linuxgeobe1_:

With [#491](https://github.com/geosolutions-it/MapStore2-C040/issues/491#issuecomment-986712856) we installed a patch to fix issues previously reported as part of the ticket [#48562]( http://geosolutions.freshdesk.com/helpdesk/tickets/48562).

[2022-01-10 14:09] randomorder commented on #526
GeoServer restarted. I was not able to retrieve logs and dumps unfortunately
I'll try again is we face the same issue in the future

[2022-01-10 15:13] allyoucanmap commented on #516
## Proposal

- before

![mobile-feature-before](https://user-images.githubusercontent.com/19175505/148789005-5fe309e5-1429-4467-a059-882158cc6a79.png)

- after (first option preferred)

![mobile-feature](https://user-images.githubusercontent.com/19175505/148789049-56a39ff8-014c-4ef6-977c-0550b86c4f8b.png)

![mobile-feature-2](https://user-images.githubusercontent.com/19175505/148789071-629799c6-86

[2022-01-12 09:32] tdipisa commented on #492
According to what we have discussed, below is the implementation proposal to allow multi line and stacked bar charts to dashboards.

**Stacked Bar Chart**
For the depicted use case we can directly use the recently implemented enhancement that allow to classify bar charts for both dashboards and viewer. Below is a sample based on the client use case using the grouped option (the stacked one will be

[2022-01-12 10:17] offtherailz commented on #492
It looks good and enough simple. Summarising we need, for multiline chart, to:
- Support to multi variable charts (now we have wfsChart or wpsChart enhancer to retrieve data, we may have multiple services)
- Refactor of the UI.
- Backward compatibility. Define a model that is compatible and allows to edit old charts, together with these new charts.

@allyoucanmap did I missed anything?

[2022-01-12 11:21] tdipisa commented on #512
This issue need to be better clarified with the client in order to highlight specific problems (eg. management of item detail panel).

[2022-01-12 11:52] allyoucanmap commented on #492
@offtherailz it does not seem

[2022-01-14 15:20] FP-Geosolutions commented on #525
Moved to blocked, waiting new VPN credential expired on 14/01/2021

[2022-01-17 14:46] tdipisa commented on #512
1 - Connect the geocaroulse to a WFS layer in geoserver
2 - Select layer attributes to use for position/title/thumbnail?
3 - Select one attribute of type string to populate the descriptive panel for each item according to the attribute value
4 - It is anyway possible for the story editor to add additional element to the descriptive panel as a client side addition saved as part of the story config

[2022-01-19 11:32] tdipisa commented on #518
To evaluate the use of CesiumJS latest version (v1.89) instead of 1.79.1.

[2022-01-24 15:06] tdipisa commented on #520
From the client:

Potete utilizzare questo come caso uso nello styling

(https://geoportale.comune.genova.it/sites/default/files/field/image/tiles.html)

(https://geoportale.comune.genova.it/sites/default/files/field/image/tiles.html)

[2022-01-24 15:07] tdipisa commented on #519
From the client:

https://www.cityexplorer3d.com/Genova3D/dataset/tileset.json
(https://www.cityexplorer3d.com/Genova3D/)

2a. impostazione quota/elevazione 3Dtiles
2b. integrazione 3Dtiles con il dtm già presente

[2022-02-02 16:46] tdipisa commented on #525
@randomorder is this still in progress? The VPN was reset over two weeks ago.

[2022-02-02 16:55] randomorder commented on #525
yes it is. We'll get back to you next week

[2022-02-07 09:56] ufficiosit opened #527 "Bug Freeze MapStore UI"
### Description
come spiegato durante il meeting di venerdì 4 febbraio 2022 a Tobia Di Pisa:
in una mappa preesistente aggiungo un livello e salvo. Se tale livello viene rimosso e poi aggiunto nuovamente si blocca il catalogo o  l'interfaccia

### Please indicate if this issue is related to a bug or a new feature request
- [x] Bug

### In case of Bug (otherwise remove this paragraph)

*Browser Aff

[2022-02-09 13:51] tdipisa commented on #527
From a first investigation during the meeting I identified the problem is related to the _Save_ functionality.
As soon as you save the map, a JS error is reported in console after few second. This is obviously blocking certain functionalities of the application (eg. see the GIF below). The JS error reported in console is:

[code]

![c040_save](https://user-images.githubusercontent.com/1280027/1532

[2022-02-17 10:11] #527 closed

[2022-02-17 10:11] #526 closed

[2022-02-21 15:17] tdipisa commented on #504
@offtherailz will start the investigation this during this week.

[2022-02-22 17:16] offtherailz commented on #504
@tdipisa Trying to use the button (that is visible in VPN) but I'm stuck after clicking on the button.
because a request to this URL goes in timeout:
https://idpad.comune.genova.it/adfs/ls/
Is this accessible by our user in VPN? I'm afraid some rules deny our user to proceed for the login page

Moreover the `egeostest` user password validity seems to be expired (can not login from internal login f

[2022-02-25 14:02] randomorder commented on #506
@FP-Geosolutions please sync with @lpasquali
and check the autovacuum config for ComuneGS as you check the logs loration

[2022-02-25 14:05] FP-Geosolutions commented on #506
Ok im working on it

[2022-02-25 14:27] lpasquali commented on #506
Hello @FP-Geosolutions,

from what we see from the config, these commented values suggest autovacuum is enabled, but might be tuned.

[code]
docs on autovacuum:

https://www.postgresql.org/docs/9.4/routine-vacuuming.html

from the docs what we mostly need is to implement: [23.1.2. Recovering Disk Space]()
in a way that vacuum starts before disk is too empty and necessary dump tables cannot be done

[2022-02-28 11:59] FP-Geosolutions commented on #506
@afabiani @lpasquali

[2022-02-28 15:42] FP-Geosolutions commented on #506
probaly they already added some space:

[code]

[2022-03-01 11:33] #525 closed

[2022-03-01 11:34] randomorder commented on #506
please check again the disk space usage in 1 month

[2022-03-02 15:06] offtherailz commented on #504
I received an account for testing, Next days I will continue the investigation

[2022-03-03 11:58] tdipisa opened #532 "GeoServer GeoCollect not responding"
From the client:

oggi mi ha chiamato un collega che vorrebbe visualizzare il livello in Geocollect, ma in questo momento la mappa si apre ma non si visualizza il livello.
Ho ritrovato email sotto in cui segnalavate che sareste intervenuti. In effetti nella issue #503. sembrerebbe tutto risolto.
Tuttavia l'errore rimane

Accessing this:
https://mappe.comune.genova.it/MapStore2/#/viewer/openlayers/

[2022-03-03 12:26] randomorder commented on #532
Problem is related to Apache Startup  (details below)

Service is back now with a temporary workaround but will become unavialable again on reboot (requires a manual intervention) **BUT** we need to talk about future of machine and create a separate task for a proper fix asap @tdipisa

[2022-03-03 13:12] tdipisa opened #533 "GeoCollect Server Management"
Review and maintenance.

[2022-03-03 13:13] tdipisa commented on #532
Thank you @randomorder, I've opened #533. Please put there your comments if necessary.

[2022-03-03 14:24] tdipisa opened #534 "Test deploy for few updates - v1.3.2-test"
To deploy:
https://github.com/geosolutions-it/MapStore2-C040/pull/530
https://github.com/geosolutions-it/MapStore2-C040/pull/531

Tag to use for this deploy is v1.3.2-test generated from the latest commit containing the above PRs commits.

[2022-03-03 14:26] tdipisa commented on #534
@offtherailz we need a war of master for a deploy in test.

[2022-03-03 14:28] #532 closed

[2022-03-03 14:33] tdipisa opened #535 "GetFeatureInfo not working when performed to GeoServer Geocollect"
## Description

Accessing to
https://mappe.comune.genova.it/MapStore2/#/viewer/openlayers/geocollect

and performing Identify requests, we obtain HTTP 400:

https://mappe.comune.genova.it/MapStore2/proxy/?url=https%3A%2F%2Fgeocollect.geo-solutions.it%2Fgeoserver%2Fit.geosolutions%2Fows%3Fservice%3DWMS%26version%3D1.1.1%26request%3DGetFeatureInfo%26exceptions%3Dapplication%252Fjson%26id%3Dcens_muri

[2022-03-03 14:37] offtherailz commented on #534
You can download it from here.
https://drive.google.com/file/d/1ZqidyTjTTmL3fN6YPDzfbHY7xsnUsDxs/view?usp=sharing

[2022-03-04 09:01] randomorder commented on #535
@FP-Geosolutions please retrieve a copy of the mapstore and tomcat logs while the requests are triggered
[geofe](https://docs.google.com/document/d/1Y-aGsvpALGwGOhowzYYY1yY5kdl4eO-UvRS1HadDNwQ/edit)

I am gessing some sort of issue with the proxy, maybe SSL handshake

[2022-03-10 16:01] offtherailz commented on #504
The current implementation of Sirac Login simply try to found if the user is present on the database, if it is not found, it will be created.
https://github.com/geosolutions-it/MapStore2-C040/blob/d16b9676bc0787a642b419fad4b5616680e9bcd3/backend/src/main/java/it/geosolutions/sirac/AuthenticationFilter.java#L129-L137

The creation doesn't assign any group, but creates a simple user with no group as

[2022-03-14 09:16] randomorder commented on #535
I repeat what I said on Thursday @FP-Geosolutions: grabbing the MapStore logs from the production machine is a 10m task and should be performed pretty much immediately! We can't have clients waiting 10 days on a proble on a production system for no reason

[2022-03-14 09:31] FP-Geosolutions commented on #535
It's seems a cross origin problem

[code]

[2022-03-14 09:41] randomorder commented on #535
We need mapstore logs

[2022-03-14 10:08] FP-Geosolutions commented on #535
The production `/etc/httpd/virtualhost.conf` is set with test cors

[code]

Here the logs of `catalina.out` :

[code]

in mapstore.log there is this recurring error, but dosen't seems related to this issue:

[code]

[2022-03-14 10:29] FP-Geosolutions commented on #535
@randomorder To fix `virutalhosts.conf` can I proceed directly or we need to advise the customer?

[2022-03-14 11:54] FP-Geosolutions commented on #535
Then probably miss some entry point in` /var/lib/tomcats/mapstore2/webapps/MapStore2/configs/localConfig.js`

[code]

[2022-03-14 13:16] randomorder commented on #535
I did not understand your comments and you did not state if the problem is fixed or not and how you eventually fixed it

[2022-03-14 14:07] randomorder commented on #535
Error is on the geoserver side

Does not like the URL when going trough the proxy for some reason:
[code]

Try adding GeoCollect to the No proxy hosts in localConfig.json @FP-Geosolutions
both the plain HTTP and HTTPS URLs. If CORS is configured properly on the GeoCollect machine a direct request should work

[2022-03-16 13:47] tdipisa commented on #535
We have sorted this in test by reverting the http-proxy version to 1.1.1 we are scheduling a production deploy with the client. Hopefully tomorrow we will do it.

[2022-03-16 15:25] tdipisa opened #537 "Production Release of v1.3.2"
We have to release what previously deployed and tested in Test environment with #534.

[2022-03-17 14:29] tdipisa commented on #535
Deploy in production succeeded:

![image.png](https://images.zenhubusercontent.com/5c9ca89d6607b6793c66ec35/b535e962-57e2-4757-b496-1dbdbc2fd262)

We can close.

[2022-03-17 14:30] #535 closed

[2022-03-17 14:30] #537 closed

[2022-03-17 14:57] MV88 opened #539 "Settings should show tag version"
## Description

in test we have this
![image](https://user-images.githubusercontent.com/11991428/158831463-dd1571fe-384e-41db-9d54-e647df395019.png)

in prod we have this
![image](https://user-images.githubusercontent.com/11991428/158831518-33bda390-7c50-4652-b1db-e622a6c85e74.png)

We would like to see the tag used for the build
and if possible also the commit sha and message

**What kind of impr

[2022-03-18 10:17] #534 closed

[2022-03-18 18:10] MV88 opened #540 "feature loader crashes because of wrong parameter passed to orientateMap"
## Description

this issue is caused by [this](https://github.com/geosolutions-it/MapStore2/issues/7853)

basically here

https://github.com/geosolutions-it/MapStore2/blob/e0dfd9b1acebaff7ddbd848e6fcb072fdfc35d2a/web/client/epics/queryparams.js#L197-L207

it take the search params and it passes to the orientate map action

if I understood the issue well we should pass these params to the orientate

[2022-03-18 18:20] MV88 commented on #540
this project is aligned to 2022.01.xx [here](https://github.com/MV88/MapStore2-C040/tree/538_update_2022.01.xx)

[2022-03-18 18:20] MV88 opened #541 "Print fails because of wrong scale sent"
## Description

the scale calculated and sent as print spec is wrong
![image](https://user-images.githubusercontent.com/11991428/159059654-f77f446c-fa3a-4162-9718-b577c5c72b3d.png)
Before it was sending 5000 as scale taken from spec.scale

## How to reproduce

- open a map with this project aligned to 2022.01.xx (currently [here](https://github.com/MV88/MapStore2-C040/tree/538_update_2022.01.xx))

[2022-03-18 18:43] MV88 opened #542 "llpp is not working in test dur to some error of the layers used"
## Description

CORSO_1:V_ELEMENTI_CANTIERI layer have issues

## How to reproduce

- enter vpn
- load test llpp page https://vm-linuxgeofetest.comune.genova.it/MapStore2/lavoriPubblici.html?debug=true#/cantiere/016799::1::1
- check network request  in particula the three getfeature request
![image](https://user-images.githubusercontent.com/11991428/159064106-1d995e1c-e8ff-456c-92c1-514c7988ccc6.p

[2022-03-21 10:22] tdipisa commented on #540
@MV88 of course we need to fix this MS side so please open an issue on MS ans assign this to me. Anyway, the final part of the URL (_?_k=hsp0ve_) is not related to the FW functionalities so this issue is not blocking the release.

[2022-03-21 10:25] tdipisa commented on #541
@offtherailz should we take this in a different way with latest printing updates provided in 2022.01.00?

[2022-03-21 10:30] tdipisa commented on #542
@MV88 this is probably related to a problem with data in test. please retest using the [production configuration](https://github.com/geosolutions-it/MapStore2-C040/blob/production/configs/llppConfig.json).

[2022-03-21 11:31] MV88 commented on #540
@tdipisa ok i've opened this in mapstore project
https://github.com/geosolutions-it/MapStore2/issues/7991

[2022-03-21 14:24] tdipisa commented on #542
@ufficiosit is it possible for you to properly restore test data to allow functional testing?

[2022-03-21 16:48] offtherailz commented on #519
Remember to update `proxy.properties` aligning with the standard MapStore's one.

[2022-03-22 17:29] #539 closed

[2022-03-23 17:18] MV88 opened #544 "Release Test version v1.4.0-test"
## Description

Deploy of the updated downstream project in
- [x] Test v1.4.0-test

## Release checklist

For Test

- [x] make sure that PR that updates project to **v1.Y.Z-test** version is merged in **master** branch
- [x] make sure to have version.txt aligned to **v1.Y.Z-test**
- [x] make sure to have package.json version aligned to **v1.Y.Z**
- [x] create the war locally
- [x] test it in a loc

[2022-03-24 09:39] tdipisa opened #546 "Tomcat update in Test Environment"
- At least 8.5 is needed for the latest MS version.

- Production version of Tomcat to check to schedule also the update there if necessary as part of the deployment in production activities (scheduled for 30-03-2022)

[2022-03-25 11:40] randomorder commented on #546
Hi @tdipisa
Taking a quick look today to estimate the effort. We can then tackle it on Monday or Tuesday max depending on other activities to perform

[2022-03-25 14:08] tdipisa commented on #546
@randomorder Is that a peculiar tomcat installation? Keep me updated please. It would be good, if possible, to have the tomcat updated by Monday morning to allow us to execute a complete test run and so to be able to apply patches on Tuesday (if needed) before the release (scheduled for next Wednesday).

[2022-03-25 16:00] randomorder commented on #546
Yes,
Tomcat 8 is not available in the repositories for `CentOS Linux release 7.2.` and would have required a full manual setup of CataBase and CataHome + startup scripts and documentation while makeing sure not to break the existing tomcat7 installation used by other applications on the machine.
Not a trivial task and, as you know, today we are understaffed

Now,
I had a look at the system and fou

[2022-03-25 16:04] randomorder commented on #546
By the way it looks like all applications are running on tomcat8 now we can probably get rid of tomcat7

[2022-03-25 16:13] MV88 commented on #546
yes it is

@randomorder
so can I try to do a new release?

@tdipisa you agree to do it now??

[2022-03-25 16:20] randomorder commented on #546
Nothing has changed in that regards. The usual procedure should work

[2022-03-25 16:25] tdipisa commented on #546
Yes @MV88 you can

@randomorder

Tomcat 8 is not available in the repositories for CentOS Linux release 7.2. ...

I was imaging. Thank you so much

[2022-03-25 17:03] MV88 commented on #544
@tdipisa

I guess we can close this now
what do you think?

[2022-03-25 17:30] tdipisa opened #548 "Production deploy of v1.4.0"
## Description

Deploy of the updated downstream project in
- [X] Test **v1.4.0-test** https://github.com/geosolutions-it/MapStore2-C040/issues/544
- [x] Production **v1.4.0** (@MV88)
- [x] To check Apache Tomcat version in production. Min version requested for latest MS is 8.5 (@randomorder)

## Release checklist
- [x] make sure that PR that updates project to **v1.4.0** version is merged in **pr

[2022-03-25 17:32] #544 closed

[2022-03-25 17:37] tdipisa commented on #548
@randomorder workign on #546 did you check also the Tomcat version currently present in PROD? If not, we should do that and include also the update of that Tomcat instance during the PROD release if necessary.

[2022-03-28 09:07] MV88 opened #550 "internal login does not work anymore"
## Description

internal login is not working

## How to reproduce

-  try to use internal login with admin user

*Expected Result*

to login

*Current Result*

error

- [x] Not browser related

<details><summary> <b>Browser info</b> </summary>

(use this site: <a href="https://www.whatsmybrowser.org/">https://www.whatsmybrowser.org/</a> for non expert users)

| Browser Affected | Version |
|---|-

[2022-03-28 10:40] MV88 opened #553 "spring update causing issue to spid login"
## Description

new Spring security defines creates a /login entry point.
Anyway this entry point is necessary to the sirac login workflow.

## How to reproduce

-
-

*Expected Result*

*Current Result*

- [x] Not browser related

<details><summary> <b>Browser info</b> </summary>

(use this site: <a href="https://www.whatsmybrowser.org/">https://www.whatsmybrowser.org/</a> for non expert users)

|

[2022-03-28 16:52] ElenaGallo opened #556 "Connection denied for embedded map"
In the test environment, the server blocks the ability to open the iframe.

Error on console:

**How to Reproduce**
- Open [this](https://app.zenhub.com/files/81931957/87fe2801-9989-4f6e-ad47-e0f69cf8e71e/download) embedded map.

[2022-03-29 08:30] dsuren1 opened #557 "3D map - Share panel orientation incorrect"
## Description

The Share URL is frequently wrong when camera orientation options are used.

## How to reproduce

[Here](https://demo.geo-solutions.it/share/mapstore2/share_wrong.gif) a GIF with steps to reproduce

*Expected Result*

The share URL in this case should visualize the expected orientation.

*Current Result*

The globe orientation is frequently wrong.

- [x] Not browser related

[2022-03-29 12:47] tdipisa commented on #548
I've checked the Tomcat version used in production for MS. It is ok
![image](https://user-images.githubusercontent.com/1280027/160614106-e039cced-5fe6-4bd1-ad0e-4a66975507bd.png)

[2022-03-29 12:50] tdipisa commented on #546
I've verified for production https://github.com/geosolutions-it/MapStore2-C040/issues/548#issuecomment-1081828678
We can close.

[2022-03-29 12:50] #546 closed

[2022-03-29 13:37] tdipisa commented on #519
Tested with this map
https://vm-linuxgeofetest.comune.genova.it/MapStore2/#/viewer/cesium/1000003517?center=8.891434864314538,44.407023232486985&zoom=20.16697261008597&heading=6.268211887013274&pitch=-0.3138062762669007&roll=3.2196991739397163e-9

[2022-03-30 13:17] #519 closed

[2022-03-30 13:39] #521 closed

[2022-03-30 13:39] #550 closed

[2022-03-30 13:40] #540 closed

[2022-03-30 13:46] #518 closed

[2022-03-31 07:36] #548 closed

[2022-04-05 12:39] tdipisa opened #563 "Exception raised loading ca-dataset/tileset layer"
## Description

The client is asking to investigate why the following 3D Tiles:
https://www.cityexplorer3d.com/tourism/ca-dataset/tileset.json

is raising an exception in MS:
![image.png](https://images.zenhubusercontent.com/5c9ca89d6607b6793c66ec35/012f42b0-ce30-4fe9-b6cb-c2559edc4385)

## How to reproduce

-  Open the catalog tool and add the provided 3D tiles in Cesium map
- Ensure to zoom to C

[2022-04-05 12:47] tdipisa opened #564 "cubotti_tot tileset not visible in cesium map"
## Description

The client is asking to check why the following tileset _**cubotti_tot**_ available in this map is not visible while _**cubotti_sub**_ yes instead:

https://mappe.comune.genova.it/MapStore2/#/viewer/cesium/1000015684?center=8.892779234048698,44.40055778629244&zoom=18.712350668358482&heading=0.5763283349716781&pitch=-0.1667647960911285&roll=6.28317862296175

## How to reproduce

-

[2022-04-05 12:51] #506 closed

[2022-04-08 09:30] allyoucanmap commented on #563
# Issue

The provided tileset.json is composed by a pyramid of tilesets and some of them contains bounding volume region with invalid exent where the minimun x is equal to maximum x and the minimum y is equal to the minimum y (this happens when the camera is at building level). This is causing a wrong computation of the vector representing the bounding box of the tile and the consequential error t

[2022-04-08 10:24] allyoucanmap commented on #564
# Issue

The tileset.json contains tiles with invalid bounding volume region exent where the minimun x is equal to maximum x and the minimum y is equal to the minimum y similar to this https://github.com/geosolutions-it/MapStore2-C040/issues/563#issuecomment-1092653496

# Solution

Provide tilesets with valid bounding volume regions where the limit value on the x and y axis are not the same.
See s

[2022-04-08 16:57] MV88 opened #565 "Update to latest revision to include 3d tiles (v1.4.1)"
## Description

The MapStore revision need to be updated to the stable branch **2022.01.xx**

### Checks

It is necessary to check if the existing customizations are properly working after the project update. Custom or client's specific extensions are the following **that will be checked during the PR review**:

- [x] **Thematic Maps / Statistical Query Engine Update**: Not officially maintained.

[2022-04-12 08:18] MV88 opened #567 "Release Test version v1.4.1-test"
## Description

Deploy of the updated downstream project in
- [x] Test **v1.4.1-test**

## Release checklist

- [x] make sure that PR that updates project to **v1.4.1-test** version is merged in **master** branch
- [x] make sure to have version.txt aligned to **v1.4.1-test**
- [x] make sure to have package.json version aligned to **v1.4.1**
- [x] create the war locally
- [x] test it in a local tom

[2022-04-12 09:00] MV88 commented on #567
There are problems entering via ssh to geoserver test machine
we are waiting for genova team to unblock us

[2022-04-12 09:58] MV88 commented on #520
@ElenaGallo please check this TEST env

[2022-04-12 09:58] MV88 commented on #565
@ElenaGallo please check this TEST env

[2022-04-12 11:10] ElenaGallo commented on #520
@MV88 Test passed on TEST env .

[2022-04-12 11:58] ElenaGallo commented on #565
@MV88 test passed on TEST env

[2022-04-12 15:44] MV88 opened #568 "Release Production version v1.4.1"
## Description

Deploy of the updated downstream project in
- [x] Production **v1.4.1**

## Release checklist

- [x] make sure that PR that updates project to **v1.4.1** version is merged in **production** branch
- [x] makes sure to have version.txt and package.json version aligned to **v1.4.1**
- [x] check that revision is updated correctly ( **git submodule update** from the root)
- [x] create t

[2022-04-14 09:53] MV88 opened #569 "Update mapstore to latest revision of **2022.01.xx** for v1.4.2"
## Description

The MapStore revision need to be updated to the stable branch **2022.01.xx**

### Checks

It is necessary to check if the existing customizations are properly working after the project update. Custom or client's specific extensions are the following **that will be checked during the PR review**:

- [ ] **Thematic Maps / Statistical Query Engine Update**: Not officially maintained.

[2022-04-26 10:39] #569 closed

[2022-04-26 10:39] #568 closed

[2022-04-26 10:39] #567 closed

[2022-04-26 10:39] #565 closed

[2022-04-26 10:39] #520 closed

[2022-04-26 10:39] #563 closed

[2022-04-26 10:39] #564 closed

[2022-04-26 11:02] tdipisa opened #572 "Update of GeoNetwork"
## Description

The current GeoNetwork instance is 2.10 RNDT v1.0. It is requested to update it to the recent GN RNDT v2.0 (available under GN v3.10.x. In order to use a recent version with latest fixes provided, we [should update to 3.10.6](https://github.com/geosolutions-it/iso19139.rndt/issues/162).

As part of this task we should also consider the migration of the existing GN catalog to the ne

[2022-04-26 13:02] tdipisa opened #574 "3D tiles loading and visualization issues"
## Description

Investigation and resolution of 3D tiles loading and visualization issues (e.g. photogrammetry via drone such as metashape, cesium ion, ..).

Experiments with photogrammetric procedures were carried out with Metashape to generate 3D Tiles to be loaded in the MapStore Cesium map. Some layers (eg. **fortebegato**) are not visible, see **3d tiles not visible** group here: https://mapp

[2022-04-26 13:18] tdipisa commented on #574
@allyoucanmap I have agreed with the client to spend for now 2h of investigation.

[2022-04-26 15:06] tdipisa opened #575 "Map Switcher for Map widget"
## Description

## Acceptance criteria

- [ ]
- [ ]

## Other useful information

[2022-05-03 13:51] randomorder commented on #533
Is the opensdi manager really needed?

[2022-05-03 15:06] tdipisa commented on #533
yes

[2022-05-10 11:55] allyoucanmap commented on #574
# Investigation

Some tileset are not working because the cesium library inside the mapstore bundle is missing third party libraries including the decoder for some point cloud format, in this specific case the draco one.
There is also an issue with the visibility of this tileset because of their height does not align with the terrain.

- [ ] Missing draco decoder format in the MapStore Cesium bund

[2022-05-11 14:47] tdipisa commented on #556
Reported to the client. Still waiting for news on this.

[2022-05-13 14:06] tdipisa commented on #574
@dsuren1 as agreed with @ufficiosit, we can proceed with the development to provide the point below:

This development can land to 2022.01.xx to be released in v2022.01.02

The point below it is already available in 2022.01.xx to it will be inherited by c040 MS project as soon as the MS revision is updated.

[2022-05-16 09:21] ale-cristofori opened #576 "GEOFIT C211 - OPEN ID INTEGRATION - Preparation of the test environment"
As a requirement for the implementation of the OPEN ID authentication and authorization workflow in MapStore, GeoFit will provide access to a test machine that GeoSolutions developers can use to develop and test the Keycloak integration.

Such test machine will have
- An instance of MapStore where it will be possible to deploy the newly developed features, OPEN ID integrated geostore and Keycloak

[2022-05-16 09:25] ale-cristofori commented on #576
Closing this was opened by mistake

[2022-05-16 09:25] #576 closed

[2022-05-20 09:32] tdipisa opened #577 "Oracle Connection Issues"
Some issues recently raised by @ufficiosit by email are involving problems with the available DB connections in Oracle. Both Test and Production environment are involved.

Actions performed so far as part of investigation/support activities on this topic are:

- Improvement of the all watchdogs to restart GeoServer when needed to restore the services
- Investigations and checks to improve the JNDI

[2022-05-20 09:36] tdipisa opened #578 "Tuning and review for administrative elections"
Due to the administrative elections expected for June 12, it is necessary to review and better tune maps and data to be published for the purpose. The main goal is to do a review on the light of recent ORCL issues identified and understand if:

- ORCL connection issues can be finally solved Oracle side (mitigation activities are not enough for this)
- Data can be moved under PostgreSQL instead of